 <div id="container">
            <h1>Family Grocery List</h1>

            
            <!--Form to accept grocery data-->
            <h2>Enter Grocery Item:</h2>
            <form action="/create_item" method="POST">
                <input type="text"  name="item_name" class="form-control"  placeholder="Enter grocery item (ex. Cereal)" size="40"><br>
                <input type="number"  name="item_count" class="form-control" placeholder="Enter quantity (ex. 2)" size="60"><br>
                <input type="submit" class="btn btn-primary" value="submit">
            </form>